body {
  
}

.list {
  
}

.item {
    list-style-type: circle;
    list-style-image:  url('./moon_icon.png');
    margin: 0 10px;
  /* display: inline-block;
  list-style-type: none;
   */
  
  
  
/*   
  list-style-type: circle;
  list-style-image: url ('https://cdn.icon-icons.com/icons2/3251/PNG/512/star_emphasis_regular_icon_203249.png'); 
  list-style-image: linear-gradient(to left bottom, red, blue);
  list-style-position: inside;*/
}